* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background: #007bff;
}
.highscores, .timer {
    color: #fff;
    width: 50%;
    padding: 25px 25px;
    font-weight: 600;

}

.highscores {
    float:left;
    cursor: pointer;
    
}
.timer {
    float: right;
    
    text-align: right;
    
}


.infoBox {
    position: absolute;
    top: 50% ;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    border-radius: 5px;
    
    align-items: center;


}

/* Styling Start Quiz Button */



.infoTitle{
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    padding: 0 35px;
    font-size: 35px;
    font-weight: 600;
    border-bottom: 1px solid lightgrey;
}
.answerBox{
    padding: 10px;
    
    font-size: 20px;
    font-weight: 300;
    color: #007bff;

}
 


.startBtn, .homeBtn{
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 35px;
    border-top: 1px solid lightgrey;
}
.infoBox .startBtn button, a{
   
    margin: 0 5px;
    text-decoration: none;
    height: 40px;
    width: 100px;
    border: 1px solid #007bff;
    background: #007bff;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    
}